:root {
    --mdc-theme-primary: #4355b9;
    --primary: #4355b9;
    --on_primary: #FFFFFF;
    --secondary: #006d41;
    --on_secondary: #FFFFFF;
    --error: #ba1a1a;
    --on_error: #ffffff;
    --surface: #fefbff;
    --on_surface: #1b1b1f;
    --surface_variant: #e3e1ec;
    --outline: #767680;
}

html {
    height: auto;
    width: 400px;
}

body {
    background-color: var(--surface);
    color: var(--on_surface);
}

h4 {
    text-align: center;
}

h5 {
    margin-left: 20px;
    margin-top: 20px;
}

summary {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#whitelist_edit {
    background-color: var(--primary);
    width: 200px;
}

#blacklist_edit {
    background-color: var(--error);
    width: 200px;
}

#whitelist_add {
    color: var(--primary);
    border-color: var(--primary);
    width: 200px;
    height: 60px;
}

#whitelist_add:disabled {
    color: #333333;
    border-color: #333333;
    background-color: #AAAAAA;
}

#change_server {
    color: var(--secondary);
    border-color: var(--secondary);
    width: 200px;
}