:root {
    --primary: #bac3ff;
    --on_primary: #08218a;
    --secondary: #6cdc9d;
    --on_secondary: #003920;
    --error: #ffb4ab;
    --on_error: #690005;
    --surface: #1b1b1f;
    --on_surface: #e4e1e6;
    --surface_variant: #46464f;
    --on_surface_variant: #c7c5d0;
}

html, main {
    height: 100%;
}

body {
    background-color: var(--surface);
    color: var(--on_surface);
    height: 100%;
}

.mdc-top-app-bar {
    background-color: var(--primary);
    color: var(--on_primary);
}

.table {
    margin-top: 50px;
    border-color: #A0A0A0;
}

.container {
    background-color: var(--surface_variant);
    color: white;
    width: 1200px;
    min-height: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

th, td {
    font-size: 20px;
}

#deleteButton {
    border-color: var(--error);
    color: var(--error);
}