:root {
    --primary: #4355b9;
    --on_primary: #FFFFFF;
    --secondary: #006d41;
    --on_secondary: #FFFFFF;
    --error: #ba1a1a;
    --on_error: #ffffff;
    --surface_variant: #e3e1ec;
}

html, main {
    height: 100%;
}

body {
    background-color: #FFFBFE;
    color: #1C1B1F;
    height: 100%;
}

.mdc-top-app-bar {
    background-color: var(--primary);
    color: var(--on_primary);
}

.table {
    margin-top: 50px;
    border-color: #A0A0A0;
}

.container {
    background-color: #e3e1ec;
    width: 840px;
    min-height: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

th, td {
    font-size: 20px;
}


#deleteButton {
    border-color: var(--error);
    color: var(--error);
}